@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Quicksand:wght@300..700&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body,
#root {
  min-height: 100vh;
}

body {
  background: #ffffff;
  font-family: "Quicksand", sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none;
}
